{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %} My Blog 2020. {% endblock %}
    </title>
    {% block stylesheets %}
    {% endblock %}
</head>
<body>
<div id="sidebar">
    {% block sidebar %}
        <ul>
            <li><a href="{{ path('homepage') }}">Home</a></li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li><a href="{{ path('blog_post_index') }}">Posts</a></li>
            <li><a href="{{ path('first_page') }}">First Page</a></li>
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
                <li><a href="{{ path('edit_user') }}">Edit User</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Login</a></li>
                <li><a href="{{ path('app_register') }}">Register</a></li>
            {% endif %}
        </ul>
    {% endblock %}
</div>

<div id="content">
    {% block body %}{% endblock %}
    {% block javascripts %}{% endblock %}
</div>
</body>
</html>
