{# templates/eti/blog/edit_user.html.twig #}

{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}

    <p> Here you can edit the user information: {{ form(edit_user)}} </p>

{% endblock %}
