{# templates/eti/blog/homepage.html.twig #}

{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Homepage{% endblock %}

{% block content %}
    <p> Welcome to the Blog Homepage! </br> My Project 2020! </p> <p><b>To see posts you have to LOGIN!</b></p>
{% endblock %}