{# templates/blog/posts.html.twig #}
{% extends 'eti/blog/layout.html.twig' %}

{% block title %}Blog Index / Articles to read{% endblock %}

{% block content %}
    <p> Here you can submit a post: </p>
    {{ form(add_posts)}}

{% endblock %}