{% extends 'base.html.twig' %}

{% block title %}Edit Blog Post{% endblock %}

{% block body %}
    <h1>Edit Blog Post</h1>

    {{ include('eti/blog_post/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('eti/blog_post/_delete_form.html.twig') }}

    <a href="{{ path('blog_post_index') }}">Back to list</a>
{% endblock %}
