{% extends 'base.html.twig' %}

{% block title %}Blog Post Index{% endblock %}

{% block body %}
    <h1>Collection of Posts</h1>

    <table class="table" border="1" cellspacing="10">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
        {% for blog_post in blog_posts %}
            <tr>
                <td>{{ blog_post.id }}</td>
                <td>{{ blog_post.title }}</td>
                <td>{{ blog_post.summary }}</td>
                <td>
                    <a href="{{ path('blog_post_show', {'id': blog_post.id}) }}">Show</a>
                    <a href="{{ path('blog_post_edit', {'id': blog_post.id}) }}">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">There are no blog posts to show!</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('blog_post_new') }}">Create new</a>
{% endblock %}
