{% extends 'base.html.twig' %}

{% block title %}New Blog Post{% endblock %}

{% block body %}
    <h1>Create new Blog Post</h1>

    {{ include('eti/blog_post/_form.html.twig') }}
    <a href="{{ path('blog_post_index') }}">Back to list</a>
{% endblock %}
