{% extends 'base.html.twig' %}

{% block title %}Blog Post{% endblock %}

{% block body %}
    <h1>Blog Post</h1>

    <table class="table" border="1" cellspacing="10">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ blog_post.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ blog_post.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ blog_post.content }}</td>
            </tr>
            <tr>
                <th>Date Created</th>
                <td>{{ blog_post.dateTime|date('d/m/Y H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

    {{ include('eti/blog_post/_delete_form.html.twig') }}

    <a href="{{ path('blog_post_index') }}">Back to list</a>

    <a href="{{ path('blog_post_edit', {'id': blog_post.id}) }}">Edit</a>
{% endblock %}
